<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owenslaptop.interlock_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interlock_Relaying" />
        <activity android:name=".Step_Rebuilding">
            <activity android:name="Step_Rebuilding.NextActivity" />
        </activity>
        <activity android:name=".Step_Rebuilding2" />
        <activity android:name=".Step_Rebuilding3" />
        <activity android:name=".Step_Rebuilding4" />
        <activity
            android:name=".Wall_Rebuilding"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name=".Wall_Rebuilding2"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name=".Wall_Rebuilding3"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name=".Wall_Rebuilding_Estimation"
            android:label="@string/wall_rebuilding_title" />
        <activity android:name=".Interlock_Relaying_Complications" />
        <activity android:name=".Interlock_Relaying_ToJob" />
        <activity android:name=".Interlock_Relaying_Estimate" />
        <activity
            android:name=".CleaningSealing"
            android:label="@string/cleaning_sealing_title" />
        <activity android:name=".CleaningSealing2" />
        <activity android:name=".CleaningSealingEstimation"></activity>
    </application>

</manifest>