<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oep.owenslaptop.interlock_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.oep.interlock_app.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying"
            android:label="Interlock Relaying" />
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying_Complications"
            android:label="Interlock Relaying" />
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying_ToJob"
            android:label="Interlock Relaying" />
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying_Estimate"
            android:configChanges="orientation|screenSize"
            android:label="Interlock Relaying" />
        <activity android:name="com.oep.interlock_app.Step_Rebuilding">
            <activity android:name="Step_Rebuilding.NextActivity" />
        </activity>
        <activity android:name="com.oep.interlock_app.Step_Rebuilding2" />
        <activity android:name="com.oep.interlock_app.Step_Rebuilding3" />
        <activity
            android:name="com.oep.interlock_app.Step_Rebuilding4"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding2"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding3"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding_Estimation"
            android:configChanges="orientation|screenSize"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill2"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill3"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill4"
            android:configChanges="orientation|screenSize"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.CleaningSealing"
            android:label="@string/cleaning_sealing_title" />
        <activity
            android:name="com.oep.interlock_app.CleaningSealing2"
            android:label="@string/cleaning_sealing_title" />
        <activity
            android:name="com.oep.interlock_app.CleaningSealingEstimation"
            android:configChanges="orientation|screenSize"
            android:label="@string/cleaning_sealing_title" />
        <activity android:name="com.oep.interlock_app.EstimationPage"></activity>
    </application>

</manifest>