<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oep.owenslaptop.interlock_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.oep.interlock_app.HomeScreen"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying"
            android:label="Interlock Relaying"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying_Complications"
            android:label="Interlock Relaying"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying_ToJob"
            android:label="Interlock Relaying"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.oep.interlock_app.Interlock_Relaying_Estimate"
            android:configChanges="orientation|screenSize"
            android:label="Interlock Relaying" />
        <activity
            android:name="com.oep.interlock_app.Step_Rebuilding"
            android:label="Step Rebuilding"/>
        <activity
            android:name="com.oep.interlock_app.Step_Rebuilding2"
            android:label="Step Rebuilding" />
        <activity
            android:name="com.oep.interlock_app.Step_Rebuilding3"
            android:label="Step Rebuilding" />
        <activity
            android:name="com.oep.interlock_app.Step_Rebuilding4"
            android:configChanges="orientation|screenSize"
            android:label="Step Rebuilding" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding2"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding3"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Wall_Rebuilding_Estimation"
            android:configChanges="orientation|screenSize"
            android:label="@string/wall_rebuilding_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill2"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill3"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.Joint_Fill4"
            android:configChanges="orientation|screenSize"
            android:label="@string/joint_fill_title" />
        <activity
            android:name="com.oep.interlock_app.CleaningSealing"
            android:label="@string/cleaning_sealing_title" />
        <activity
            android:name="com.oep.interlock_app.CleaningSealing2"
            android:configChanges="orientation|screenSize"
            android:label="@string/cleaning_sealing_title" />
        <activity
            android:name="com.oep.interlock_app.CleaningSealingEstimation"
            android:configChanges="orientation|screenSize"
            android:label="@string/cleaning_sealing_title" />
        <activity
            android:name="com.oep.interlock_app.SetUserTypeActivity"
            android:label="Setup Interlock App" />
        <activity
            android:name="com.oep.interlock_app.AddDatabasePermissionsActivity"
            android:label="Database Access" />
        <activity
            android:name="com.oep.interlock_app.EnterDatabaseIdActivity"
            android:label="Setup Interlock App" />
        <activity
            android:name="com.oep.interlock_app.EstimationPage"
            android:label="Estimation Page" />
        <activity
            android:name="com.oep.interlock_app.HelpPage"
            android:label="Help Page" />
        <activity
            android:name="com.oep.interlock_app.DatabaseManagement"
            android:label="Database Management" />
        <activity
            android:name="com.oep.interlock_app.ActivityDatabaseAccounts"
            android:label="Accounts"/>
    </application>

</manifest>